body {
    background-color: darkgrey;
}

header {
    margin:0;
}

header h1 {
    text-align: center;
}

main {
    background-color:darkcyan;
    width: 75%;
    height: 640px;
    margin-left: 12.5%;
}

.questions {
    text-align:center;
}

.btn-input {
    display: flex;
    justify-content:center;
    position:relative;
    bottom: 5px;
}

#submit-answer {
    width: 200px;
    border-radius: 5px;
    font-size:large;
}

ul li {
    list-style:none;
    margin: 10px auto;
    width: 25em;
    border-style:solid;
    border-width:1px;
    border-radius: 10px;
    font-weight:bold;
    font-size:larger;
    background-color:darkgrey;
    box-shadow: 3px 3px 3px black;
}